includes:
	- phpstan-baseline.neon

parameters:
    excludePaths:
        - tests/
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
    ignoreErrors:
    	-
    		identifier: missingType.iterableValue
    	-
    		identifier: argument.type
    	-
    	    identifier: property.notFound
    	-
    		identifier: method.nonObject
