parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset 1\|2\|3\|4\|5\|6\|7\|8\|9\|10\|11\|12 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Application/Handlers/QueryHandlers/ListBudgetPlansCalendarQueryHandler.php

		-
			message: '#^Method App\\BudgetPlanContext\\Application\\Queries\\GetACalendarWithItsBudgetPlansFinancialRatiosByYearQuery\:\:getDate\(\) should return DateTimeImmutable but returns DateTimeImmutable\|false\.$#'
			identifier: return.type
			count: 1
			path: src/BudgetPlanContext/Application/Queries/GetACalendarWithItsBudgetPlansFinancialRatiosByYearQuery.php

		-
			message: '#^Cannot access property \$currency on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/BudgetPlanContext/Domain/Aggregates/BudgetPlan.php

		-
			message: '#^Property App\\BudgetPlanContext\\Domain\\Aggregates\\BudgetPlan\:\:\$date is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/BudgetPlanContext/Domain/Aggregates/BudgetPlan.php

		-
			message: '#^Property App\\BudgetPlanContext\\Domain\\Aggregates\\BudgetPlan\:\:\$updatedAt is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/BudgetPlanContext/Domain/Aggregates/BudgetPlan.php

		-
			message: '#^Cannot access offset ''incomeCategoriesRatio''\|''incomeCategoriesTotal''\|''needCategoriesRatio''\|''needCategoriesTotal''\|''savingCategoriesRatio''\|''savingCategoriesTotal''\|''wantCategoriesRatio''\|''wantCategoriesTotal'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Domain/Services/BudgetPlanCategoriesTranslator.php

		-
			message: '#^Cannot access offset string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Domain/Services/BudgetPlanCategoriesTranslator.php

		-
			message: '#^Method App\\BudgetPlanContext\\Domain\\Services\\BudgetPlanCategoriesTranslator\:\:translate\(\) should return array but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/BudgetPlanContext/Domain/Services/BudgetPlanCategoriesTranslator.php

		-
			message: '#^Method App\\BudgetPlanContext\\Domain\\Services\\BudgetPlanCategoriesTranslator\:\:translateCategories\(\) should return array but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/BudgetPlanContext/Domain/Services/BudgetPlanCategoriesTranslator.php

		-
			message: '#^Binary operation "\+\=" between mixed and mixed results in an error\.$#'
			identifier: assignOp.invalid
			count: 1
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Binary operation "/" between mixed and \(float\|int\) results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Cannot access offset ''incomeCategoriesRatio'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Cannot access offset ''incomesTotal'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Cannot access offset ''needCategoriesRatio'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Cannot access offset ''needsTotal'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Cannot access offset ''savingCategoriesRatio'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Cannot access offset ''savingsTotal'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Cannot access offset ''wantCategoriesRatio'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Cannot access offset ''wantsTotal'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Cannot access offset mixed on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Call to an undefined method App\\BudgetPlanContext\\Domain\\Ports\\Inbound\\BudgetPlanIncomeEntryViewInterface\:\:fromEvent\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/BudgetPlanContext/ReadModels/Projections/BudgetPlanIncomeEntryProjection.php

		-
			message: '#^Call to an undefined method App\\BudgetPlanContext\\Domain\\Ports\\Inbound\\BudgetPlanNeedEntryViewInterface\:\:fromEvent\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/BudgetPlanContext/ReadModels/Projections/BudgetPlanNeedEntryProjection.php

		-
			message: '#^Call to an undefined method App\\BudgetPlanContext\\Domain\\Ports\\Inbound\\BudgetPlanSavingEntryViewInterface\:\:fromEvent\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/BudgetPlanContext/ReadModels/Projections/BudgetPlanSavingEntryProjection.php

		-
			message: '#^Call to an undefined method App\\BudgetPlanContext\\Domain\\Ports\\Inbound\\BudgetPlanWantEntryViewInterface\:\:fromEvent\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/BudgetPlanContext/ReadModels/Projections/BudgetPlanWantEntryProjection.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Console\\Helper\\HelperInterface\:\:ask\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Gateway/BudgetEnvelope/Presentation/Cli/ReplayABudgetEnvelopeCommand.php

		-
			message: '#^Property App\\Gateway\\BudgetEnvelope\\Presentation\\Cli\\ReplayABudgetEnvelopeCommand\:\:\$defaultName has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Gateway/BudgetEnvelope/Presentation/Cli/ReplayABudgetEnvelopeCommand.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Console\\Helper\\HelperInterface\:\:ask\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/Gateway/BudgetEnvelope/Presentation/Cli/RewindABudgetEnvelopeCommand.php

		-
			message: '#^Property App\\Gateway\\BudgetEnvelope\\Presentation\\Cli\\RewindABudgetEnvelopeCommand\:\:\$defaultName has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Gateway/BudgetEnvelope/Presentation/Cli/RewindABudgetEnvelopeCommand.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Console\\Helper\\HelperInterface\:\:ask\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Gateway/User/Presentation/Cli/ReplayAUserCommand.php

		-
			message: '#^Property App\\Gateway\\User\\Presentation\\Cli\\ReplayAUserCommand\:\:\$defaultName has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Gateway/User/Presentation/Cli/ReplayAUserCommand.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Console\\Helper\\HelperInterface\:\:ask\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Gateway/User/Presentation/Cli/RewindAUserCommand.php

		-
			message: '#^Property App\\Gateway\\User\\Presentation\\Cli\\RewindAUserCommand\:\:\$defaultName has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Gateway/User/Presentation/Cli/RewindAUserCommand.php

		-
			message: '#^Property App\\Libraries\\Anonymii\\Entities\\EncryptionKey\:\:\$createdAt is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/Anonymii/Entities/EncryptionKey.php

		-
			message: '#^Property App\\Libraries\\Anonymii\\Entities\\EncryptionKey\:\:\$encryptionKey is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/Anonymii/Entities/EncryptionKey.php

		-
			message: '#^Property App\\Libraries\\Anonymii\\Entities\\EncryptionKey\:\:\$id is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/Anonymii/Entities/EncryptionKey.php

		-
			message: '#^Property App\\Libraries\\Anonymii\\Entities\\EncryptionKey\:\:\$userId is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/Anonymii/Entities/EncryptionKey.php

		-
			message: '#^Binary operation "\." between non\-empty\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Libraries/Anonymii/Repositories/KeyManagementRepository.php

		-
			message: '#^Method App\\Libraries\\Anonymii\\Repositories\\KeyManagementRepository\:\:decryptKey\(\) should return string but returns string\|false\.$#'
			identifier: return.type
			count: 1
			path: src/Libraries/Anonymii/Repositories/KeyManagementRepository.php

		-
			message: '#^Method App\\Libraries\\Anonymii\\Services\\EncryptionService\:\:getKeyByUserId\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Libraries/Anonymii/Services/EncryptionService.php

		-
			message: '#^Method App\\Libraries\\Anonymii\\Services\\EncryptionService\:\:getKeyForUser\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Libraries/Anonymii/Services/EncryptionService.php

		-
			message: '#^Cannot access offset ''ciphertext'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Libraries/Anonymii/Services/EventEncryptor.php

		-
			message: '#^Cannot access offset ''iv'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Libraries/Anonymii/Services/EventEncryptor.php

		-
			message: '#^Cannot access offset ''tag'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Libraries/Anonymii/Services/EventEncryptor.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Libraries/Anonymii/Services/EventEncryptor.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\Entities\\EventStore\:\:\$eventName is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/Entities/EventStore.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\Entities\\EventStore\:\:\$id is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/Entities/EventStore.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\Entities\\EventStore\:\:\$metaData is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Libraries/FluxCapacitor/Entities/EventStore.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\Entities\\EventStore\:\:\$occurredOn is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/Entities/EventStore.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\Entities\\EventStore\:\:\$payload is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/Entities/EventStore.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\Entities\\EventStore\:\:\$streamId is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/Entities/EventStore.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\Entities\\EventStore\:\:\$userId is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/Entities/EventStore.php

		-
			message: '#^Cannot access constant class on mixed\.$#'
			identifier: classConstant.nonObject
			count: 2
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Cannot access property \$aggregateId on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Cannot access property \$occurredOn on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Cannot access property \$userId on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Cannot access offset ''aggregates'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Libraries/FluxCapacitor/Services/EventClassMap.php

		-
			message: '#^Cannot access offset ''events'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Libraries/FluxCapacitor/Services/EventClassMap.php

		-
			message: '#^Method App\\Libraries\\FluxCapacitor\\Services\\EventClassMap\:\:getAggregatePathByByStreamName\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Libraries/FluxCapacitor/Services/EventClassMap.php

		-
			message: '#^Method App\\Libraries\\FluxCapacitor\\Services\\EventClassMap\:\:getClassNameByEventPath\(\) should return string but returns int\<min, \-1\>\|int\<1, max\>\|string\.$#'
			identifier: return.type
			count: 1
			path: src/Libraries/FluxCapacitor/Services/EventClassMap.php

		-
			message: '#^Method App\\Libraries\\FluxCapacitor\\Services\\EventClassMap\:\:getEventPathByClassName\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Libraries/FluxCapacitor/Services/EventClassMap.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\Services\\EventClassMap\:\:\$aggregateMappings \(array\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Libraries/FluxCapacitor/Services/EventClassMap.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\Services\\EventClassMap\:\:\$eventMappings \(array\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Libraries/FluxCapacitor/Services/EventClassMap.php

		-
			message: '#^Cannot access constant class on mixed\.$#'
			identifier: classConstant.nonObject
			count: 2
			path: src/SharedContext/Infrastructure/Adapters/PublisherAdapter.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\Services\\RequestIdProvider\:\:\$requestId \(string\) does not accept string\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/SharedContext/Infrastructure/EventListener/RequestIdListener.php

		-
			message: '#^Method App\\UserContext\\Domain\\Aggregates\\User\:\:getKeyByUserId\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/UserContext/Domain/Aggregates/User.php

		-
			message: '#^Property App\\UserContext\\Domain\\Aggregates\\User\:\:\$createdAt is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/UserContext/Domain/Aggregates/User.php

		-
			message: '#^Property App\\UserContext\\Domain\\Aggregates\\User\:\:\$passwordResetToken is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/UserContext/Domain/Aggregates/User.php

		-
			message: '#^Method App\\UserContext\\ReadModels\\Views\\UserView\:\:getRoles\(\) should return array\<string\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/UserContext/ReadModels/Views/UserView.php
