parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset 1\|2\|3\|4\|5\|6\|7\|8\|9\|10\|11\|12 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Application/Handlers/QueryHandlers/ListBudgetPlansCalendarQueryHandler.php

		-
			message: '#^Method App\\BudgetPlanContext\\Application\\Queries\\GetACalendarWithItsBudgetPlansFinancialRatiosByYearQuery\:\:getDate\(\) should return DateTimeImmutable but returns DateTimeImmutable\|false\.$#'
			identifier: return.type
			count: 1
			path: src/BudgetPlanContext/Application/Queries/GetACalendarWithItsBudgetPlansFinancialRatiosByYearQuery.php

		-
			message: '#^Cannot access offset ''budget_plan_uuid'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Domain/Aggregates/BudgetPlan.php

		-
			message: '#^Cannot access offset ''created_at'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Domain/Aggregates/BudgetPlan.php

		-
			message: '#^Cannot access offset ''updated_at'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Domain/Aggregates/BudgetPlan.php

		-
			message: '#^Cannot access offset ''uuid'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Domain/Aggregates/BudgetPlan.php

		-
			message: '#^Cannot access property \$category on array\.$#'
			identifier: property.nonObject
			count: 1
			path: src/BudgetPlanContext/Domain/Aggregates/BudgetPlan.php

		-
			message: '#^Cannot access property \$incomeAmount on array\.$#'
			identifier: property.nonObject
			count: 1
			path: src/BudgetPlanContext/Domain/Aggregates/BudgetPlan.php

		-
			message: '#^Cannot access property \$incomeName on array\.$#'
			identifier: property.nonObject
			count: 1
			path: src/BudgetPlanContext/Domain/Aggregates/BudgetPlan.php

		-
			message: '#^Property App\\BudgetPlanContext\\Domain\\Aggregates\\BudgetPlan\:\:\$date is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/BudgetPlanContext/Domain/Aggregates/BudgetPlan.php

		-
			message: '#^Property App\\BudgetPlanContext\\Domain\\Aggregates\\BudgetPlan\:\:\$updatedAt is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/BudgetPlanContext/Domain/Aggregates/BudgetPlan.php

		-
			message: '#^Cannot access offset ''incomeCategoriesRatio''\|''incomeCategoriesTotal''\|''needCategoriesRatio''\|''needCategoriesTotal''\|''savingCategoriesRatio''\|''savingCategoriesTotal''\|''wantCategoriesRatio''\|''wantCategoriesTotal'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Domain/Services/BudgetPlanCategoriesTranslator.php

		-
			message: '#^Cannot access offset string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Domain/Services/BudgetPlanCategoriesTranslator.php

		-
			message: '#^Method App\\BudgetPlanContext\\Domain\\Services\\BudgetPlanCategoriesTranslator\:\:translate\(\) should return array but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/BudgetPlanContext/Domain/Services/BudgetPlanCategoriesTranslator.php

		-
			message: '#^Method App\\BudgetPlanContext\\Domain\\Services\\BudgetPlanCategoriesTranslator\:\:translateCategories\(\) should return array but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/BudgetPlanContext/Domain/Services/BudgetPlanCategoriesTranslator.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Binary operation "\+\=" between mixed and float results in an error\.$#'
			identifier: assignOp.invalid
			count: 1
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Binary operation "/" between mixed and \(float\|int\<1, max\>\) results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Cannot access offset ''category'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Cannot access offset mixed on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Cannot access offset string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 2
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Part \$direction \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/BudgetPlanContext/Infrastructure/Persistence/Repositories/BudgetPlanViewRepository.php

		-
			message: '#^Call to an undefined method App\\BudgetPlanContext\\Domain\\Ports\\Inbound\\BudgetPlanIncomeEntryViewInterface\:\:fromEvent\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/BudgetPlanContext/ReadModels/Projections/BudgetPlanIncomeEntryProjection.php

		-
			message: '#^Call to an undefined method App\\BudgetPlanContext\\Domain\\Ports\\Inbound\\BudgetPlanNeedEntryViewInterface\:\:fromEvent\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/BudgetPlanContext/ReadModels/Projections/BudgetPlanNeedEntryProjection.php

		-
			message: '#^Call to an undefined method App\\BudgetPlanContext\\Domain\\Ports\\Inbound\\BudgetPlanSavingEntryViewInterface\:\:fromEvent\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/BudgetPlanContext/ReadModels/Projections/BudgetPlanSavingEntryProjection.php

		-
			message: '#^Call to an undefined method App\\BudgetPlanContext\\Domain\\Ports\\Inbound\\BudgetPlanWantEntryViewInterface\:\:fromEvent\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/BudgetPlanContext/ReadModels/Projections/BudgetPlanWantEntryProjection.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Console\\Helper\\HelperInterface\:\:ask\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Gateway/BudgetEnvelope/Presentation/Cli/ReplayABudgetEnvelopeCommand.php

		-
			message: '#^Property App\\Gateway\\BudgetEnvelope\\Presentation\\Cli\\ReplayABudgetEnvelopeCommand\:\:\$defaultName has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Gateway/BudgetEnvelope/Presentation/Cli/ReplayABudgetEnvelopeCommand.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Console\\Helper\\HelperInterface\:\:ask\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/Gateway/BudgetEnvelope/Presentation/Cli/RewindABudgetEnvelopeCommand.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/Gateway/BudgetEnvelope/Presentation/Cli/RewindABudgetEnvelopeCommand.php

		-
			message: '#^Property App\\Gateway\\BudgetEnvelope\\Presentation\\Cli\\RewindABudgetEnvelopeCommand\:\:\$defaultName has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Gateway/BudgetEnvelope/Presentation/Cli/RewindABudgetEnvelopeCommand.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Console\\Helper\\HelperInterface\:\:ask\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Gateway/User/Presentation/Cli/ReplayAUserCommand.php

		-
			message: '#^Property App\\Gateway\\User\\Presentation\\Cli\\ReplayAUserCommand\:\:\$defaultName has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Gateway/User/Presentation/Cli/ReplayAUserCommand.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Console\\Helper\\HelperInterface\:\:ask\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Gateway/User/Presentation/Cli/RewindAUserCommand.php

		-
			message: '#^Property App\\Gateway\\User\\Presentation\\Cli\\RewindAUserCommand\:\:\$defaultName has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Gateway/User/Presentation/Cli/RewindAUserCommand.php

		-
			message: '#^Cannot access offset ''platform'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Gateway/User/Presentation/HTTP/Controllers/SignUpOrAuthenticateAGoogleUserController.php

		-
			message: '#^Part \$frontendUrl \(array\|bool\|float\|int\|string\|UnitEnum\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Gateway/User/Presentation/HTTP/Controllers/SignUpOrAuthenticateAGoogleUserController.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\Anonymizer\\Entities\\EncryptionKey\:\:\$createdAt is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/Anonymizer/Entities/EncryptionKey.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\Anonymizer\\Entities\\EncryptionKey\:\:\$encryptionKey is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/Anonymizer/Entities/EncryptionKey.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\Anonymizer\\Entities\\EncryptionKey\:\:\$id is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/Anonymizer/Entities/EncryptionKey.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\Anonymizer\\Entities\\EncryptionKey\:\:\$userId is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/Anonymizer/Entities/EncryptionKey.php

		-
			message: '#^Method App\\Libraries\\FluxCapacitor\\Anonymizer\\Repositories\\KeyManagementRepository\:\:decryptKey\(\) should return string but returns string\|false\.$#'
			identifier: return.type
			count: 1
			path: src/Libraries/FluxCapacitor/Anonymizer/Repositories/KeyManagementRepository.php

		-
			message: '#^Method App\\Libraries\\FluxCapacitor\\Anonymizer\\Services\\EncryptionService\:\:getKeyByUserId\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Libraries/FluxCapacitor/Anonymizer/Services/EncryptionService.php

		-
			message: '#^Method App\\Libraries\\FluxCapacitor\\Anonymizer\\Services\\EncryptionService\:\:getKeyForUser\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Libraries/FluxCapacitor/Anonymizer/Services/EncryptionService.php

		-
			message: '#^Cannot access offset ''ciphertext'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Libraries/FluxCapacitor/Anonymizer/Services/EventEncryptor.php

		-
			message: '#^Cannot access offset ''iv'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Libraries/FluxCapacitor/Anonymizer/Services/EventEncryptor.php

		-
			message: '#^Cannot access offset ''tag'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Libraries/FluxCapacitor/Anonymizer/Services/EventEncryptor.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Libraries/FluxCapacitor/Anonymizer/Services/EventEncryptor.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\EventStore\\Entities\\EventStore\:\:\$eventName is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Entities/EventStore.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\EventStore\\Entities\\EventStore\:\:\$id is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Entities/EventStore.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\EventStore\\Entities\\EventStore\:\:\$metaData is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Entities/EventStore.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\EventStore\\Entities\\EventStore\:\:\$occurredOn is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Entities/EventStore.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\EventStore\\Entities\\EventStore\:\:\$payload is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Entities/EventStore.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\EventStore\\Entities\\EventStore\:\:\$streamId is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Entities/EventStore.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\EventStore\\Entities\\EventStore\:\:\$userId is unused\.$#'
			identifier: property.unused
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Entities/EventStore.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Call to an undefined method App\\Libraries\\FluxCapacitor\\Anonymizer\\Ports\\AbstractUserDomainEventInterface\:\:toArray\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Call to an undefined method App\\Libraries\\FluxCapacitor\\EventStore\\Ports\\AggregateRootInterface&App\\Libraries\\FluxCapacitor\\EventStore\\Ports\\UserAggregateInterface\:\:clearKeys\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Call to an undefined method App\\Libraries\\FluxCapacitor\\EventStore\\Ports\\AggregateRootInterface\:\:aggregateVersion\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Call to an undefined method App\\Libraries\\FluxCapacitor\\EventStore\\Ports\\AggregateRootInterface\:\:clearRaisedDomainEvents\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Call to an undefined method App\\Libraries\\FluxCapacitor\\EventStore\\Ports\\AggregateRootInterface\:\:raisedDomainEvents\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Call to an undefined method Traversable\:\:current\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Call to an undefined method Traversable\:\:next\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Call to an undefined method Traversable\:\:rewind\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Call to an undefined method Traversable\:\:valid\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Cannot access constant class on mixed\.$#'
			identifier: classConstant.nonObject
			count: 3
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Cannot access offset ''stream_name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Cannot access offset ''stream_version'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Cannot access property \$aggregateId on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Cannot access property \$occurredOn on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Cannot access property \$userId on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 3
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Cannot use \+\+ on mixed\.$#'
			identifier: preInc.type
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Method App\\Libraries\\FluxCapacitor\\EventStore\\EventStore\:\:createAggregateFromEvents\(\) should return App\\Libraries\\FluxCapacitor\\EventStore\\Ports\\AggregateRootInterface but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Method App\\Libraries\\FluxCapacitor\\EventStore\\EventStore\:\:getEventPayload\(\) should return array but returns mixed\.$#'
			identifier: return.type
			count: 2
			path: src/Libraries/FluxCapacitor/EventStore/EventStore.php

		-
			message: '#^Cannot access offset ''aggregates'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Services/EventClassMap.php

		-
			message: '#^Cannot access offset ''event_to_aggregate'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Services/EventClassMap.php

		-
			message: '#^Cannot access offset ''events'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Services/EventClassMap.php

		-
			message: '#^Method App\\Libraries\\FluxCapacitor\\EventStore\\Services\\EventClassMap\:\:getAggregatePathByByStreamName\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Services/EventClassMap.php

		-
			message: '#^Method App\\Libraries\\FluxCapacitor\\EventStore\\Services\\EventClassMap\:\:getClassNameByEventPath\(\) should return string but returns int\<min, \-1\>\|int\<1, max\>\|string\.$#'
			identifier: return.type
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Services/EventClassMap.php

		-
			message: '#^Method App\\Libraries\\FluxCapacitor\\EventStore\\Services\\EventClassMap\:\:getEventPathByClassName\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Services/EventClassMap.php

		-
			message: '#^Method App\\Libraries\\FluxCapacitor\\EventStore\\Services\\EventClassMap\:\:getStreamNameByEventPath\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Services/EventClassMap.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\EventStore\\Services\\EventClassMap\:\:\$aggregateMappings \(array\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Services/EventClassMap.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\EventStore\\Services\\EventClassMap\:\:\$eventMappings \(array\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Services/EventClassMap.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\EventStore\\Services\\EventClassMap\:\:\$eventToAggregateMap \(array\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Libraries/FluxCapacitor/EventStore/Services/EventClassMap.php

		-
			message: '#^Cannot access constant class on mixed\.$#'
			identifier: classConstant.nonObject
			count: 2
			path: src/SharedContext/Infrastructure/Adapters/PublisherAdapter.php

		-
			message: '#^Property App\\Libraries\\FluxCapacitor\\EventStore\\Services\\RequestIdProvider\:\:\$requestId \(string\) does not accept string\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/SharedContext/Infrastructure/EventListener/RequestIdListener.php

		-
			message: '#^Cannot access an offset on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/UserContext/Application/Handlers/CommandHandlers/SignUpAUserCommandHandler.php

		-
			message: '#^Method App\\UserContext\\Domain\\Aggregates\\User\:\:getKeyByUserId\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/UserContext/Domain/Aggregates/User.php

		-
			message: '#^Property App\\UserContext\\Domain\\Aggregates\\User\:\:\$createdAt is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/UserContext/Domain/Aggregates/User.php

		-
			message: '#^Cannot access offset ''isRegistered'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: src/UserContext/Domain/Aggregates/UserEmailRegistry.php

		-
			message: '#^Cannot access offset ''userId'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/UserContext/Domain/Aggregates/UserEmailRegistry.php

		-
			message: '#^Method App\\UserContext\\Domain\\Aggregates\\UserEmailRegistry\:\:getEmailOwner\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/UserContext/Domain/Aggregates/UserEmailRegistry.php

		-
			message: '#^Property App\\UserContext\\Domain\\Entities\\UserOAuth\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/UserContext/Domain/Entities/UserOAuth.php

		-
			message: '#^Method App\\UserContext\\ReadModels\\Views\\UserView\:\:getRoles\(\) should return array\<string\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/UserContext/ReadModels/Views/UserView.php

		-
			message: '#^Method App\\UserContext\\ReadModels\\Views\\UserView\:\:getUserIdentifier\(\) should return non\-empty\-string but returns string\.$#'
			identifier: return.type
			count: 1
			path: src/UserContext/ReadModels/Views/UserView.php
